postProcessing/*
log.*
constant/extendedFeatureEdgeMesh/
constant/cellDecomposition
constant/polyMesh/boundary
constant/polyMesh/boundary*
constant/polyMesh/faces*
constant/polyMesh/neighbour*
constant/polyMesh/owner*
constant/polyMesh/points*
constant/polyMesh/cellLevel*
constant/polyMesh/cellZones*
constant/polyMesh/faceZones*
constant/polyMesh/level0Edge*
constant/polyMesh/pointLevel*
constant/polyMesh/pointZones*
constant/polyMesh/refinementHistory*
constant/polyMesh/surfaceIndex*
constant/triSurface/*eMesh*
processor*
VTK*
